<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header class="head-foot-sizing flex">
    
        <div class="logo flex">
            <a href="index.html">
                <img src="../media/sm-logo.png" alt="Logo" width="150px" class="pointer">
        </div>

            <!-- ADD THE PAGE ACTIVE CLASS TO RESPECTIVE PAGE -->
        
        <nav class="navbar">
                <ul class="nav-menu flex">
                    <li class="nav-list flex head-font"><a href="#" class="nav-item page-active">HOME</a></li>
                    <div class="spacing-bar"></div>
                    <li class="nav-list flex head-font"><a href="#" class="nav-item">ABOUT US</a></li>
                    <div class="spacing-bar"></div>
                    <li class="nav-list flex head-font"><a href="#" class="nav-item">CONTACT US</a></li>
                    <div class="spacing-bar"></div>
                    <li class="nav-list flex head-font"><a href="#" class="nav-item">OUR PRODUCTS</a></li>
                </ul>
        </nav>

        <div class="hamburger pointer">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
   </header>
    
    
    
a praesentium nostrum architecto est, nesciunt alias sapiente unde molestiae, ab dolorum labore dolor molestias iusto assumenda temporibus. Modi quaerat in quisquam harum ea?
Illum vitae quod qui quidem aliquam minus necessitatibus sed architecto facilis delectus molestiae sequi dolor, animi, dicta quas officiis deserunt ipsam sunt harum nesciunt ullam! Nobis laborum voluptatibus repellendus vero!
Incidunt accusamus soluta iure, ipsum corrupti porro nam officiis ducimus eius explicabo rerum at rem amet, fugit nesciunt dolorum dolor sit? Laudantium eum vel accusantium rem temporibus nobis perferendis id.


    <footer class="head-foot-sizing">
        <!-- Wrapping the two sections -->
        <div class="flex">
        <!-- Left -->
            <div class="foot-sizing">
                <!-- Header -->
                <div class="footer-heading head-font">
                    Dignans Catering<br>
                    & Cafe
                </div>

                <!-- addresses -->
                <div>
                    <div class="head-font">Contact Us</div>
                    <div>
                        chfha@jdfhs.jfd<br>
                        42 Wallaby Way<br>
                        Sydney<br>
                        P.Sherman
                    </div>
                </div>
            </div>

            <!-- Right -->
            <div class="foot-sizing flex center-all">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1732276810329!6m8!1m7!1sgT28ssf0BB2LxZ63JNcL1w!2m2!1d35.70407434458094!2d139.5577317321219!3f288.14!4f-22.540000000000006!5f0.4000000000000002" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </div>

        <div class="social-media-icons flex">
            <i class="fa-brands fa-facebook pointer"></i>
            <i class="fa-brands fa-whatsapp pointer"></i>
            <i class="fa-solid fa-envelope pointer"></i>
        </div>

        <div class="copyright head-font">
            &copy; Chantelle Lavery for Dignans Catering
        </div>




    </footer>
    
    <script src="js/template.js"></script>
</body>
</html>